/* Global Styles */

/* body Styles */

body {
	color: #67818A;
	background-color: #ADD8E6;
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* header Styles */

header {
	color: #67818A;
	background-color: #CDE7F0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	height: 128px;
}

header a {
	text-decoration: none;
}

header a:link {
	color: #231814;
}

header a:visited {
	color: #231814;
}

header a:hover {
	color: #FEF6C2;
}

/* h1 Styles */

h1 {
	font-size: 3em;
}

/* nav Styles */

nav {
	float: left;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1em;
}

/* nav a Styles */

nav a {
	display: block;
	border: 1px solid #CDE7F0;
	padding: 8px;
	margin-bottom: 10px;
	text-decoration: none;
	color: #67818A;
	background-color: #CDE7F0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0;
	font-size: 1.25em;
	
}

nav li {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 1em;
	padding-left: 1em;
	width: 100%;
	border-bottom: none;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: #FEF6C2;
}

nav a:visited {
	color: #D2B48C;
}

nav a:hover {
	color: #CC9933;
}

/* main Styles */

main {
	margin-left: 100px;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	padding: 20em;
}

main h2,
main h3,
main h4,
main p,
main div,
main dl {
	padding-left: 1em;
	padding-right: 1em;
}

main ul {
	padding-left: 2em;
}

/* footer Styles */

footer {
	grid-area: footer;
	background-color: #CDE7F0;
	font-size: 0.60em;
	font-style: italic;
	text-align: center;
	padding: 1em;
	border-top: 2px solid #ADD8E6;
}

img {
	display: block;
	max-inline-size: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

/* item Styles */

#item {
	background-color: #FAF9F7;
	margin: 1em;
	padding: 1em;
	overflow: auto;
}

/* wrapper Styles */

#wrapper {
	display: grid;
	grid-template: 
		"header header" 
		"nav main" 
		"footer footer" 
		/200px 1fr;
	background-color: #FEFAEB;
	padding: 0;
}

/* gallery Styles */

#gallery {
	position: relative;
}

figure {
	position: absolute;
	left: 280px;
	text-align: center;
	opacity: .25;
}

#gallery ul {
	width: 300px;
	list-style-type: none;
}

#gallery li {
	display: inline;
	float: left;
	padding: 10px;
}

#gallery img {
	border-style: none;
}

#gallery a { 
	color: #EAEAEA;
	text-decoration: none;
	font-style: italic;
}

#gallery span {
	position: absolute;
	left: -1000px;
	opacity: 0;
	transition: opacity 3s ease-in-out;
}

#gallery a:hover span { 
	position: absolute;
	top: 16px;
	left: 320px;
	text-align: center;
	opacity: 1;
}

/* table Styles */

table {
	width: 90%;
	border-spacing: 0;
}

td, th {
	padding: 10px;
}

table tr:nth-of-type(odd) {
	background-color: #D2B48E;
}

/* label Styles */

label {
	float: left;
	clear: left;
	display: block;
	width: 100px;
	padding-right: 10px;
	margin-top: 10px;
	text-align: right;
}	

/* single-column Styles */

form {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	width: 80%;
}

input, textarea {
	margin-bottom: .5em;
}

/* two-column Styles */

@media (min-width: 600px) {

.two-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:2em;
}

/* form in two-column setup Styles */

form { 
	width: 40%;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 6em 1fr;
}

/* submit button Styles */

input[type="submit"] {
	grid-column: 2;
	width: 9em;
}
}

/* small displays */

#mobile {
	display: inline;
}

#desktop {
	display: none;
}

/* medium displays */

@media (min-width: 600px) {

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

}

/* large displays */

@media (min-width: 1024px) {

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

}